body {
    font-family: Georgia, Times, sans-serif;
    font-size: 23px;
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url("background.jpg");
}

button {
    background-color: #800080;
    border-color: white;
    border-style: ridge;
    border-width: 2px;
    border-radius: 15px;
    color: white;
    font-size: 15px;
    height: 40px;
}

#containerId {
    margin-left: 40%;
    padding: 35px;
}